html,
body,
*{
    padding: 0%;
    margin: 2%;
    box-sizing: border-box;
    font-size: 62.5%;
}
.parent{
    font-size: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.child{
    border: 6px solid red; 
    width: 5%;
}